<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Inkubator biznes</title>
    <link rel="icon" type="image/png" href="../static/images/tfa.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The Feynman Association Official Website" />
    <meta name="keywords" content="edukacja, projekt, biznes, nauka, mlody, konkurs, przyszlosc, studia, the feynman association" />
    <meta name="author" content="Pawel Grabowski" />



    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="The Feynman Association"/>
    <meta property="og:image" content="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/12814784_1062862433764865_4486092063895316971_n.jpg?oh=15e9c2cf1adb6b454893fe3d5141fb6f&oe=579331FF"/>
    <meta property="og:url" content="http://thefeynmanassociation.pl"/>
    <meta property="og:site_name" content="The Feynman Association"/>
    <meta property="og:description" content="Come and see"/>
    <meta name="twitter:title" content="The Feynman Association" />
    <meta name="twitter:image" content="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/12814784_1062862433764865_4486092063895316971_n.jpg?oh=15e9c2cf1adb6b454893fe3d5141fb6f&oe=579331FF" />
    <meta name="twitter:url" content="http://thefeynmanassociation.pl" />
    <meta name="twitter:card" content="" />

    <link rel="shortcut icon" href="../static/favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="../static/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="../static/css/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="../static/css/simple-line-icons.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">


    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Styleswitcher ( This style is for demo purposes only, you may delete this anytime. ) -->
    <link rel="stylesheet" id="theme-switch" href="../static/css/style.css">
    <!-- End demo purposes only -->
    <link rel="stylesheet" href="../static/css/listy.css">

</head>
<body style="    background-image: repeating-linear-gradient(to bottom right, #000469 0%, #00A9FB 100%);background-repeat: no-repeat;
    background-attachment: fixed;">
<header role="banner" id="fh5co-header">
    <div class="container">
        <!-- <div class="row"> -->
        <nav class="navbar navbar-default" >
            <div class="navbar-header" >
                <!-- Mobile Toggle Menu Button -->
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                <a class="navbar-brand" style="padding:0;" href="after.html"><img src="../static/images/ostatecznebeztla2.png" class="logo img-responsive" style="max-height: 100%;"> </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" style="all:none">
                    <li><a href="biznes.html" ><span>Biznes</span></a></li>
                    <li><a href="nauka.html" ><span>Nauka</span></a></li>
                    <li><a href="komunikacja.html" ><span>Komunikacja</span></a></li>
                    <li><a href="przyszlosc.html" ><span>Przyszłość</span></a></li>
                    <li><a href="logowanie.html" ><span>Wyloguj</span></a></li>
                </ul>
            </div>
        </nav>
        <!-- </div> -->
    </div>
</header>
<div class="col-md-12">
    <div class="col-md-3 pull-left" style="margin-top:20%;">
        <h1 style="color:#fff;">WARSZAWA</h1>
        <ul id="nie" style="clear:both">
            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/aip.jpg" />
                <a href="https://aipwarszawa.inkubatory.pl/"><h3 id="niewiemwiem">AIP Warszawa</h3></a>
            </li>

            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/businesslink.png" />
                <a href="http://pgenarodowy.blpoland.com/"><h3 id="niewiemwiem">Business Link Warszawa</h3></a>
            </li>
        </ul>
    </div>
    <div class="col-md-3 col-md-offset-2 pull-left" style="margin-top:20%;">
        <h1 style="color:#fff;">KRAKÓW</h1>
        <ul id="nie" style="clear:both">
            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/aip.jpg" />
                <a href="https://aipkrakow.inkubatory.pl/"><h3 id="niewiemwiem">AIP Kraków</h3></a>
            </li>

            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/businesslink.png" />
                <a href="http://blpoland.com/krakow/"><h3 id="niewiemwiem">Business Link Kraków</h3></a>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-3 pull-left" style="margin-top:10%;">
        <h1 style="color:#fff;">ŁÓDŹ</h1>
        <ul id="nie" style="clear:both">
            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/aip.jpg" />
                <a href="https://aiplodz.inkubatory.pl"><h3 id="niewiemwiem">AIP Łódź</h3></a>
            </li>

            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/businesslink.png" />
                <a href="http://blpoland.com/lodz/"><h3 id="niewiemwiem">Business Link Łódź</h3></a>
            </li>
        </ul>
    </div>
    <div class="col-md-3 col-md-offset-2 pull-left" style="margin-top:10%;">
        <h1 style="color:#fff;">WROCŁAW</h1>
        <ul id="nie" style="clear:both">
            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/aip.jpg" />
                <a href="https://aipwroclaw.inkubatory.pl/"><h3 id="niewiemwiem">AIP Wrocław</h3></a>
            </li>

            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/businesslink.png" />
                <a href="http://blpoland.com/wroclaw"><h3 id="niewiemwiem">Business Link Wrocław</h3></a>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-3 pull-left" style="margin-top:10%;">
        <h1 style="color:#fff;">POZNAŃ</h1>
        <ul id="nie" style="clear:both">
            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/aip.jpg" />
                <a href="https://aippoznan.inkubatory.pl/"><h3 id="niewiemwiem">AIP Poznań</h3></a>
            </li>

            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/businesslink.png" />
                <a href="http://blpoland.com/poznan"><h3 id="niewiemwiem">Business Link Poznań</h3></a>
            </li>
        </ul>
    </div>
    <div class="col-md-3 col-md-offset-2 pull-left" style="margin-top:10%;">
        <h1 style="color:#fff;">GDAŃSK</h1>
        <ul id="nie" style="clear:both">
            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/aip.jpg" />
                <a href="https://aipgdansk.inkubatory.pl/"><h3 id="niewiemwiem">AIP Gdańsk</h3></a>
            </li>

            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/businesslink.png" />
                <a href="http://blpoland.com/gdansk/"><h3 id="niewiemwiem">Business Link Gdańsk</h3></a>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-3 pull-left" style="margin-top:10%;">
        <h1 style="color:#fff;">SZCZECIN</h1>
        <ul id="nie" style="clear:both">
            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/aip.jpg" />
                <a href="https://aipszczecin.inkubatory.pl/"><h3 id="niewiemwiem">AIP Szczecin</h3></a>
            </li>

            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/businesslink.png" />
                <a href="http://blpoland.com/szczecin"><h3 id="niewiemwiem">Business Link Szczecin</h3></a>
            </li>
        </ul>
    </div>
    <div class="col-md-3 col-md-offset-2 pull-left" style="margin-top:10%;">
        <h1 style="color:#fff;">BYDGOSZCZ</h1>
        <ul id="nie" style="clear:both">
            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/aip.jpg" />
                <a href="https://aipbydgoszcz.inkubatory.pl/"><h3 id="niewiemwiem">AIP Bydgoszcz</h3></a>
            </li>

            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/businesslink.png" />
                <a href="http://blpoland.com/bydgoszcz"><h3 id="niewiemwiem">Business Link Bydgoszcz</h3></a>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-3 pull-left" style="margin-top:10%;">
        <h1 style="color:#fff;">LUBLIN</h1>
        <ul id="nie" style="clear:both">
            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/aip.jpg" />
                <a href="https://aipwarszawa.inkubatory.pl/"><h3 id="niewiemwiem">AIP Lublin</h3></a>
            </li>

            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/businesslink.png" />
                <a href="http://pgenarodowy.blpoland.com/"><h3 id="niewiemwiem">Business Link Lublin</h3></a>
            </li>
        </ul>
    </div>
    <div class="col-md-3 col-md-offset-2 pull-left" style="margin-top:10%;">
        <h1 style="color:#fff;">KATOWICE</h1>
        <ul id="nie" style="clear:both">
            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/aip.jpg" />
                <a href="https://aipkrakow.inkubatory.pl/"><h3 id="niewiemwiem">AIP Katowice</h3></a>
            </li>

            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/businesslink.png" />
                <a href="http://blpoland.com/krakow/"><h3 id="niewiemwiem">Business Link Katowice</h3></a>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-3 pull-left" style="margin-top:10%;">
        <h1 style="color:#fff;">BIAŁYSTOK</h1>
        <ul id="nie" style="clear:both">
            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/aip.jpg" />
                <a href="https://aipbialystok.inkubatory.pl/"><h3 id="niewiemwiem">AIP Białystok</h3></a>
            </li>

            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/businesslink.png" />
                <a href="http://blpoland.com/bialystok"><h3 id="niewiemwiem">Business Link Białystok</h3></a>
            </li>
        </ul>
    </div>
    <div class="col-md-3 col-md-offset-2 pull-left" style="margin-top:10%;">
        <h1 style="color:#fff;">GDYNIA</h1>
        <ul id="nie" style="clear:both">
            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/aip.jpg" />
                <a href="https://aipgdynia.inkubatory.pl/"><h3 id="niewiemwiem">AIP Gdynia</h3></a>
            </li>

            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/businesslink.png" />
                <a href="http://blpoland.com/gdynia"><h3 id="niewiemwiem">Business Link Gdynia</h3></a>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-3 pull-left" style="margin-top:10%;">
        <h1 style="color:#fff;">CZĘSTOCHOWA</h1>
        <ul id="nie" style="clear:both">
            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/aip.jpg" />
                <a href="https://aipczestochowa.inkubatory.pl/"><h3 id="niewiemwiem">AIP Częstochowa</h3></a>
            </li>

            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/businesslink.png" />
                <a href="http://blpoland.com/czestochowa"><h3 id="niewiemwiem">Business Link Częstochowa</h3></a>
            </li>
        </ul>
    </div>
    <div class="col-md-3 col-md-offset-2 pull-left" style="margin-top:10%;">
        <h1 style="color:#fff;">RADOM</h1>
        <ul id="nie" style="clear:both">
            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/aip.jpg" />
                <a href="https://aipradom.inkubatory.pl/"><h3 id="niewiemwiem">AIP Radom</h3></a>
            </li>

            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/businesslink.png" />
                <a href="http://blpoland.com/radom/"><h3 id="niewiemwiem">Business Link Radom</h3></a>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-3 pull-left" style="margin-top:10%;">
        <h1 style="color:#fff;">TORUŃ</h1>
        <ul id="nie" style="clear:both">
            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/aip.jpg" />
                <a href="https://aiptorun.inkubatory.pl/"><h3 id="niewiemwiem">AIP Toruń</h3></a>
            </li>

            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/businesslink.png" />
                <a href="http://blpoland.com/torun"><h3 id="niewiemwiem">Business Link Toruń</h3></a>
            </li>
            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/smartspace.jpg" />
                <a href="http://smartspace.io"><h3 id="niewiemwiem">Exea Smart Space Toruń</h3></a>
            </li>
        </ul>
    </div>
</div>
<!-- jQuery -->
<script src="../static/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="../static/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="../static/js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->

<!-- Counter -->
<script src="../static/js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<script src="../static/js/magnific-popup-options.js"></script>



<!-- Main JS  -->
<script src="../static/js/main.js"></script>

</body>
</html>
