<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kalendarium nauka</title>
    <link rel="icon" type="image/png" href="../static/images/tfa.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The Feynman Association Official Website" />
    <meta name="keywords" content="edukacja, projekt, biznes, nauka, mlody, konkurs, przyszlosc, studia, the feynman association" />
    <meta name="author" content="Pawel Grabowski" />



    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="The Feynman Association"/>
    <meta property="og:image" content="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/12814784_1062862433764865_4486092063895316971_n.jpg?oh=15e9c2cf1adb6b454893fe3d5141fb6f&oe=579331FF"/>
    <meta property="og:url" content="http://thefeynmanassociation.pl"/>
    <meta property="og:site_name" content="The Feynman Association"/>
    <meta property="og:description" content="Come and see"/>
    <meta name="twitter:title" content="The Feynman Association" />
    <meta name="twitter:image" content="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/12814784_1062862433764865_4486092063895316971_n.jpg?oh=15e9c2cf1adb6b454893fe3d5141fb6f&oe=579331FF" />
    <meta name="twitter:url" content="http://thefeynmanassociation.pl" />
    <meta name="twitter:card" content="" />

    <link rel="shortcut icon" href="../static/favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="../static/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="../static/css/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="../static/css/simple-line-icons.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">


    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Styleswitcher ( This style is for demo purposes only, you may delete this anytime. ) -->
    <link rel="stylesheet" id="theme-switch" href="../static/css/style.css">
    <!-- End demo purposes only -->
    <link rel="stylesheet" id="listy" href="../static/css/listy.css"

</head>
<body style="    background-image: repeating-linear-gradient(to bottom right, #000469 0%, #00A9FB 100%);background-repeat: no-repeat;
    background-attachment: fixed;">
<header role="banner" id="fh5co-header">
    <div class="container">
        <!-- <div class="row"> -->
        <nav class="navbar navbar-default" >
            <div class="navbar-header" >
                <!-- Mobile Toggle Menu Button -->
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                <a class="navbar-brand" style="padding:0;" href="after.html"><img src="../static/images/ostatecznebeztla2.png" class="logo img-responsive" style="max-height: 100%;"> </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" style="all:none">
                    <li><a href="biznes.html" ><span>Biznes</span></a></li>
                    <li><a href="nauka.html" ><span>Nauka</span></a></li>
                    <li><a href="komunikacja.html" ><span>Komunikacja</span></a></li>
                    <li><a href="przyszlosc.html" ><span>Przyszłość</span></a></li>
                    <li><a href="logowanie.html" ><span>Wyloguj</span></a></li>
                </ul>
            </div>
        </nav>
        <!-- </div> -->
    </div>
</header>
<div class="col-md-12 " style="margin-top:20%">
    <ul id="kupa" >
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>1.04 Pt</b>
            Konkurs ABB IT Challenge KrakówIT, programowanieKonkursBezpłatny </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>1.04 Pt</b>
            PyCode Carrots Bydgoszcz #1 BydgoszczDjango, IT, programowanie, PythonWarsztatyBezpłatny </li>
        <li style="color: rgba(255, 255, 255, 0.8);;">


            <br><br><br>




            <b>2.04 So</b> Geek Girls Carrots Szczecin #18 SzczecinITSpotkanieBezpłatny</li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>2.04 So</b> Sesja Linuksowa #13 WrocławIT, open sourceKonferencjaBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>2.04 So</b> InfoMEET Kraków KrakówITKonferencjaBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>2.04 So</b> Dev College #6 PoznańITWarsztatyBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>2.04 So</b> Startup Art #2016 WarszawastartupWarsztatyBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>2.04 So</b> Code Carrots Scrum Toruń #1 ToruńAgile/Scrum, ITWarsztatyBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"> <b>2.04 So</b> HackWAW Disrupt! WarszawaIT, programowanieSpotkaniePłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>2.04 So</b> Effective Altruism Bootcamp #2 KrakówIT, programowanieSpotkanieBezpłatny
        </li>



        <br><br><br>



        <li style="color: rgba(255, 255, 255, 0.8);;"><b>4.04 Pon</b> Test Carrots PoznańIT, qualitySpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>4.04 Pon</b> Gamifikacja w praktyce TrójmiastostartupWarsztatyBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>4.04 Pon</b> Lean Startup ŁódźstartupWarsztatyBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>4.04 Pon</b> Warsztat Java8 - Programowanie Funkcyjne ŁódźIT, Java, programowanieSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>4.04 Pon</b> DRUG Software Craftsmanship WrocławIT, programowanie, Ruby on RailsSpotkanieBezpłatny
        </li>


        <br><br><br>


        <li style="color: rgba(255, 255, 255, 0.8);;"><b>5.04 Wt</b> Agile Warsaw #110 WarszawaAgile/ScrumSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b> 5.04 Wt</b> Cloud Community Conference 2016 PoznańCloud, ITKonferencjaPłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>5.04 Wt</b> Festiwal BOSS Bydgoszcz 2016 Bydgoszcze-biznes, social media, startupSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>5.04 Wt</b> Social media dla małych przedsiębiorców - wybrane aspekty prawne Trójmiastosocial mediaBezpłatny
        </li>



        <br><br><br>



        <li style="color: rgba(255, 255, 255, 0.8);;"> <b>6.04 Śr</b> Spotkanie PJUG - Microservices oraz Play Framework ŁódźIT, programowanieSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>6.04 Śr</b> X Targi eHandlu - Targi e-Commerce Katowicee-commerceTargiBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"> <b>6.04 Śr</b> Techklub Łódź ŁódźSEO/SEM, social mediaSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>6.04 Śr</b> Praca w zespole developerskim WrocławIT, Zarządzanie projektamiSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>6.04 Śr</b> PHPers Silesia #8 GliwiceIT, php, programowanieSpotkanieBezpłatny
        </li>




        <br><br><br>


        <li style="color: rgba(255, 255, 255, 0.8);;"><b> 7.04 Czw</b> Scala dla początkujących - Programowanie reaktywne WarszawaIT, programowanie, scalaWarsztatyBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b> 7.04 Czw</b> OpenCoffeeKRK #115 Krakówe-biznes, startupSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"> <b>7.04 Czw</b> CYBERSEMINARIUM - Puppet - jak w prosty sposób stworzyć własny moduł ŁódźITSpotkanie
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>7.04 Czw</b> Wprowadzenie do Kubernetes'a ŁódźIT, programowanieWarsztatyBezpłatny
        </li>





        <br><br><br>



        <li style="color: rgba(255, 255, 255, 0.8);;"><b> 8.04 Pt</b> 30. Czwartek Social Media w Łodzi Łódźsocial mediaSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>8.04 Pt</b>Startup Weekend Olsztyn 2016 Olsztyne-biznes, IT, startupWarsztatyPłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>8.04 Pt</b>Jak podejść do innowacji strategicznie, żeby przyczyniały się do wzrostu i tworzenia wartości? WarszawastartupSzkolenieBezpłatny
        </li>




        <br><br><br>

        <li style="color: rgba(255, 255, 255, 0.8);;"><b>9.04 So</b>KARIERA IT #Kraków KrakówITTargi PracyBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>9.04 So</b>Deadline24 drużynowy maraton programistyczny GliwiceIT, programowanieWarsztatyBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b> 9.04 So</b>WrocLove Code Carrots #4 UX WrocławIT, UXWarsztatyBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b> 9.04 So</b> Wiosna Przedsiębiorców KrakówstartupKonferencjaBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"> <b>9.04 So</b> LUBCODE LublinIT, programowanieSpotkanieBezpłatny
        </li>


        <br><br><br>



        <li style="color: rgba(255, 255, 255, 0.8);;"> <b>11.04 Pon</b> Java 8 - Tomek Nurkiewicz ŁódźIT, Java, programowanieWarsztatyBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b> 11.04 Pon</b> 4Developers 2016 WarszawaAgile/Scrum, bazy danych, IT, programowanie, UXKonferencjaPłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;">  <b> 11.04 Ponv</b> UX Poland 2016 WarszawaUXKonferencjaPłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>11.04 Pon</b> wroc.py #26 WrocławIT, programowanie, PythonSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>11.04 Pon</b> Data Analysis for Business Płockbazy danych, e-commerce, e-marketing, ITKonferencjaPłatny
        </li>


        <br><br><br>







        <li style="color: rgba(255, 255, 255, 0.8);;"><b>12.04 Wt</b> Data Science Wrocław #11 WrocławIT, sieciSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>12.04 Wt</b> S Usability formularzy internetowych Warszawae-commerce, e-marketing, UXSzkoleniePłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>12.04 Wt</b> S Certified ScrumMaster – Kraków KrakówAgile/Scrum, IT, Zarządzanie projektamiSzkoleniePłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>12.04 Wtv</b> Wolves Dev WarszawaIT, programowanie, startupKonferencjaBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>12.04 Wt</b> Improving your software with Agile practices WrocławAgile/ScrumSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>12.04 Wtv</b> WordUp Trójmiasto #5 TrójmiastoIT, programowanie, WordPressSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b> 12.04 Wt</b> WiT Wrocław #35 WrocławIT, programowanieKonferencjaBezpłatny
        </li>


        <br><br><br>





        <li style="color: rgba(255, 255, 255, 0.8);;"><b> 13.04 Śr</b> .NET Wrocław #87 Wrocław.net, IT, programowanieSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>13.04 Śrv</b> OpenReaktor#44 WarszawaIT, startupSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>13.04 Śrv</b> WSG #6 + PHPers Wrocław #4 WrocławIT, php, programowanieSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>13.04 Śr</b> Software Talks na Geek Week Wrocław.net, IT, programowanieSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>13.04 Śr</b> WrocLOVE Geek Girls Carrots #32 WrocławITSpotkanieBezpłatny
        </li>



        <br><br><br>


        <li style="color: rgba(255, 255, 255, 0.8);;"><b>14.04 Czw</b>  meet.js Łódź ŁódźSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>14.04 Czw</b> ACE! Conference 2016 KrakówAgile/Scrum, startup, UXKonferencjaPłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b> 14.04 Czw</b> techBrainers R&D Summit 2016 Top R&D Trends&Tools WarszawaITKonferencjaPłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"> <b> 14.04 Czw</b>  Business Analysts Meetup Wrocławanalityka, e-biznesSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>14.04 Czw</b>  TechKlub Wrocław WrocławITSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>14.04 Czw</b>  Warsztaty iOS: budowanie aplikacji z wykorzystaniem Swift, REST API i geolokalizacji. KrakówmobileWarsztatyBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b> 14.04 Czw</b>  PLSSUG #62 Wrocław Wrocławbazy danych, ITSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>14.04 Czw</b>  PHPers Kraków #4 KrakówIT, php, programowanieSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>14.04 Czw</b> eRka #8 KrakówIT, programowanieSpotkanieBezpłatny
        </li>




        <br><br><br>




        <li style="color: rgba(255, 255, 255, 0.8);;"><b>15.04 Pt</b> Big Data Warszawabig data, ITSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b> 15.04 Pt </b>  Rails Girls Kraków 2016 KrakówIT, programowanie, Ruby on RailsWarsztatyBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>  15.04 Pt</b>  PyCode Carrots Warsaw #7 WarszawaIT, programowanie, PythonWarsztatyBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b> 15.04 Pt</b>  Agile Addicted - Zwinność uniwersalna WrocławAgile/ScrumSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b> 15.04 Pt</b> #Hack4culture Wrocław WrocławIT, programowanieSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"> <b> 15.04 Pt</b> SAP @ GeekWeekWro#2 WrocławITSpotkanieBezpłatny
        </li>




        <br><br><br>

        <li style="color: rgba(255, 255, 255, 0.8);;"><b> 16.04 So</b> EastMedia 2016 Białystoke-marketing, mobile, nowe media, social mediaKonferencjaBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b> 16.04 So</b> Scalar 2016 WarszawaprogramowanieKonferencjaBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b> 16.04 So</b> Ciemna Strona UX#2 - UX Machine Krakówdesign, UXKonferencjaBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b> 16.04 So</b> KARIERA IT #Wrocław WrocławITTargi PracyBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>  16.04 So</b> Meetnight Warszawa 2016 WarszawaIT, startupTargi PracyBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>  16.04 So</b> GET.NET 2016 Łódź.net, Cloud, IT, programowanieSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b> 16.04 So</b> Global Azure Bootcamp - Wrocław 2016 WrocławITWarsztatyBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>  16.04 So</b> Warsztaty z podstaw SQL- WiT Wrocław Wrocławbazy danych, ITWarsztatyBezpłatny
        </li>




        <br><br><br>


        <li style="color: rgba(255, 255, 255, 0.8);;"><b>  17.04 Nie</b> TechSaturdays Wro #26 WrocławIT, startupSpotkanieBezpłatny
        </li>


        <br><br><br>



        <li style="color: rgba(255, 255, 255, 0.8);;"><b>  18.04 Pon</b> Ciemna Strona UX #2 - Mini Social Hackathon Krakówdesign, UXWarsztatyBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>  18.04 Pon</b> S Certified Scrum Product Owner – Kraków KrakówAgile/Scrum, IT, Zarządzanie projektamiSzkoleniePłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>  18.04 Pon</b> S Lean Software Development – Mary Poppendieck w Polsce! WarszawaIT, programowanie, qualitySzkoleniePłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>   18.04 Pon</b> VC Speed Dating – szybkie randki z inwestorami WarszawastartupSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>  18.04 Pon</b> 3CityNetConf - konferencja dla Programistów Trójmiasto.net, big data, IT, programowanieKonferencjaPłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"> <b>   18.04 Pon</b> Warsztaty - Java 8 Streams KrakówIT, Java, programowanieWarsztatyBezpłatny
        </li>


        <br><br><br>



        <li style="color: rgba(255, 255, 255, 0.8);;"><b>   19.04 Wt</b> DRUG monthly meetup WrocławIT, programowanie, Ruby on RailsSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>  19.04 Wt</b> Hive61#31 PoznańIT, startupSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>  19.04 Wt</b> Akademickie Targi Pracy - Łódź ŁódźITTargi PracyBezpłatny
        </li>


        <br><br><br>



        <li style="color: rgba(255, 255, 255, 0.8);;"><b>  20.04 Śr</b> meet.js Bydgoszcz #1 BydgoszczIT, JavaScript, programowanieSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>  20.04 Śr</b> infraXstructure 2016 Warszawabazy danych, IT, sieciKonferencjaPłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b> 20.04 Śr</b> III Kongres Dyrektorów E-commerce Krakówe-biznes, e-commerce, e-marketingKonferencjaPłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>  20.04 Śr</b> Mail My Day IV Warszawae-biznes, e-commerceKonferencjaPłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"> <b>  20.04 Śr</b> The Awwwesomes – Darmowe warsztaty z kodowania HTML & CSS WarszawaHTML/CSS, ITSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>  20.04 Śr</b> Digital Signage Summit Warszawae-biznes, e-commerce, e-marketingKonferencjaBezpłatny
        </li>



        <br><br><br>


        <li style="color: rgba(255, 255, 255, 0.8);;"><b>  21.04 Czw</b> WRUG kwietniowy WarszawaIT, programowanie, Ruby on RailsSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>  21.04 Czw</b> Meet IT Wrocław #2 Wrocławbezpieczeństwo, ITSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b> 21.04 Czw</b> OpenCoffeeKRK #116 Krakówe-biznes, startupSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b> 21.04 Czw</b> Social Media Convent 2016 Trójmiastosocial mediaKonferencjaPłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>  21.04 Czw</b> MCE^3 WarszawaIT, mobile, UXKonferencjaPłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>  21.04 Czw</b>  Integrated IT Systems WarszawaITKonferencjaBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"> <b>   21.04 Czw</b> PAZUR #16 PoznańIT, programowanieSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>  21.04 Czw</b> Kryptografia kartowa dla java developerów ŁódźIT, Java, programowanieSpotkanieBezpłatny
        </li>




        <br><br><br>

        <li style="color: rgba(255, 255, 255, 0.8);;"><b> 23.04 So</b> Aaron Morton, Nate McCall & Jon Haddad Talk Cassandra WarszawaITSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>  23.04 So</b> DevCrowd'16 SzczecinIT, Java, programowanieKonferencjaBezpłatny
        </li>




        <br><br><br>


        <li style="color: rgba(255, 255, 255, 0.8);;"><b> 25.04 Pon</b> Blogotok #5 – "Blog- moja marka" KielceblogosferaSpotkanieBezpłatny
        </li>
        <li style="color: rgba(255, 255, 255, 0.8);;"><b>25.04 Pon</b>Project Management Days 2016 WarszawaIT, Zarządzanie projektamiKonferencja
        </li>

    </ul>
</div>
<!-- jQuery -->
<script src="../static/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="../static/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="../static/js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->

<!-- Counter -->
<script src="../static/js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<script src="../static/js/magnific-popup-options.js"></script>



<!-- Main JS  -->
<script src="../static/js/main.js"></script>

</body>
</html>
