<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Artykuły Biznes</title>
    <link rel="icon" type="image/png" href="../static/images/tfa.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The Feynman Association Official Website" />
    <meta name="keywords" content="edukacja, projekt, biznes, nauka, mlody, konkurs, przyszlosc, studia, the feynman association" />
    <meta name="author" content="Pawel Grabowski" />



    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="The Feynman Association"/>
    <meta property="og:image" content="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/12814784_1062862433764865_4486092063895316971_n.jpg?oh=15e9c2cf1adb6b454893fe3d5141fb6f&oe=579331FF"/>
    <meta property="og:url" content="http://thefeynmanassociation.pl"/>
    <meta property="og:site_name" content="The Feynman Association"/>
    <meta property="og:description" content="Come and see"/>
    <meta name="twitter:title" content="The Feynman Association" />
    <meta name="twitter:image" content="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/12814784_1062862433764865_4486092063895316971_n.jpg?oh=15e9c2cf1adb6b454893fe3d5141fb6f&oe=579331FF" />
    <meta name="twitter:url" content="http://thefeynmanassociation.pl" />
    <meta name="twitter:card" content="" />

    <link rel="shortcut icon" href="../static/favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="../static/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="../static/css/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="../static/css/simple-line-icons.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">


    <link rel="stylesheet" href="../static/css/style.css">


    <!-- Styleswitcher ( This style is for demo purposes only, you may delete this anytime. ) -->
    <link rel="stylesheet" id="theme-switch" href="../static/css/style.css">
    <!-- End demo purposes only -->
    <link rel="stylesheet" id="listy" href="../static/css/listy.css"
</head>
<body style="    background-image: repeating-linear-gradient(to bottom right, #000469 0%, #00A9FB 100%);background-repeat: no-repeat;
    background-attachment: fixed;">
<header role="banner" id="fh5co-header">
    <div class="container">
        <!-- <div class="row"> -->
        <nav class="navbar navbar-default" >
            <div class="navbar-header" >
                <!-- Mobile Toggle Menu Button -->
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                <a class="navbar-brand" style="padding:0;" href="after.html"><img src="../static/images/ostatecznebeztla2.png" class="logo img-responsive" style="max-height: 100%;"> </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" style="all:none">
                    <li><a href="biznes.html" ><span>Biznes</span></a></li>
                    <li><a href="nauka.html" ><span>Nauka</span></a></li>
                    <li><a href="komunikacja.html" ><span>Komunikacja</span></a></li>
                    <li><a href="przyszlosc.html" ><span>Przyszłość</span></a></li>
                    <li><a href="logowanie.html" ><span>Wyloguj</span></a></li>
                </ul>
            </div>
        </nav>
        <!-- </div> -->
    </div>
</header>
<div class="col-md-12">
    <div class="col-md-3 pull-left" style="margin-top:20%;">
        <ul id="nie" style="clear:both">
            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/bulb.png" />
                <a href="https://www.youtube.com/watch?v=PHe0bXAIuk0"><h3 id="niewiemwiem">Jak działają najważniejsze mechanizmy ekonomiczne wytłumaczone w życiowych przykładach w prosty sposób </h3></a>
            </li>

            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/bulb.png" />
                <a href="https://www.youtube.com/watch?v=Lq4HXW_JYd4"><h3 id="niewiemwiem">Wprowadzenie do ekonomii London School of Economics</h3></a>
            </li>

            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/bulb.png" />
                <a href="http://www.investopedia.com/university/economics/"><h3 id="niewiemwiem">Interaktywny Uniwersytet Ekonomiczny</h3></a>
            </li>

            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/bulb.png" />
                <a href="http://www.investopedia.com/simulator/"><h3 id="niewiemwiem">Symulator Giełdy</h3></a>
            </li>
        </ul>
    </div>
    <div class="col-md-3 col-md-offset-3 pull-left" style="margin-top:20%;">
        <ul id="nie" style="clear:both">
            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/bulb.png" />
                <a href="http://cenabiznesu.pl/-jak-zalozyc-lokal-gastronomiczny"><h3 id="niewiemwiem">Jak założyć biznes gastronomiczny</h3></a>
            </li>

            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/bulb.png" />
                <a href="http://venturebeat.com/2016/03/29/monetize-your-app-with-the-magic-mix-of-commerce-ads-subscriptions-more-at-the-mobile-summit/"><h3 id="niewiemwiem">Jak skomercjalizować swoją aplikację mobilną </h3></a>
            </li>

            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/bulb.png" />
                <a href="http://cenabiznesu.pl/-koszty-zalozenia-dzialalnosci-gospodarczej"><h3 id="niewiemwiem">Koszty założenia działalności gospodarczej</h3></a>
            </li>

            <li id="niewiem">
                <img style="border-radius: 20%" src="../static/images/news/bulb.png" />
                <a href="http://cenabiznesu.pl/-wystawianie-faktur-i-zasady-z-tym-zwiazane"><h3 id="niewiemwiem">Rzecz o wystawianiu faktur</h3></a>
            </li>
        </ul>

    </div>
</div>
<!-- jQuery -->
<script src="../static/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="../static/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="../static/js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->

<!-- Counter -->
<script src="../static/js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<script src="../static/js/magnific-popup-options.js"></script>



<!-- Main JS  -->
<script src="../static/js/main.js"></script>

</body>
</html>
