<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kursy biznes</title>
    <link rel="icon" type="image/png" href="../static/images/tfa.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The Feynman Association Official Website" />
    <meta name="keywords" content="edukacja, projekt, biznes, nauka, mlody, konkurs, przyszlosc, studia, the feynman association" />
    <meta name="author" content="Pawel Grabowski" />



    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="The Feynman Association"/>
    <meta property="og:image" content="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/12814784_1062862433764865_4486092063895316971_n.jpg?oh=15e9c2cf1adb6b454893fe3d5141fb6f&oe=579331FF"/>
    <meta property="og:url" content="http://thefeynmanassociation.pl"/>
    <meta property="og:site_name" content="The Feynman Association"/>
    <meta property="og:description" content="Come and see"/>
    <meta name="twitter:title" content="The Feynman Association" />
    <meta name="twitter:image" content="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/12814784_1062862433764865_4486092063895316971_n.jpg?oh=15e9c2cf1adb6b454893fe3d5141fb6f&oe=579331FF" />
    <meta name="twitter:url" content="http://thefeynmanassociation.pl" />
    <meta name="twitter:card" content="" />

    <link rel="shortcut icon" href="../static/favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="../static/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="../static/css/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="../static/css/simple-line-icons.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">


    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Styleswitcher ( This style is for demo purposes only, you may delete this anytime. ) -->
    <link rel="stylesheet" id="theme-switch" href="../static/css/style.css">
    <!-- End demo purposes only -->
    <link rel="stylesheet" id="listy" href="../static/css/listy.css"

</head>
<body style="    background-image: repeating-linear-gradient(to bottom right, #000469 0%, #00A9FB 100%);background-repeat: no-repeat;
    background-attachment: fixed;">
<header role="banner" id="fh5co-header">
    <div class="container">
        <!-- <div class="row"> -->
        <nav class="navbar navbar-default" >
            <div class="navbar-header" >
                <!-- Mobile Toggle Menu Button -->
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                <a class="navbar-brand" style="padding:0;" href="after.html"><img src="../static/images/ostatecznebeztla2.png" class="logo img-responsive" style="max-height: 100%;"> </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" style="all:none">
                    <li><a href="biznes.html" ><span>Biznes</span></a></li>
                    <li><a href="nauka.html" ><span>Nauka</span></a></li>
                    <li><a href="komunikacja.html" ><span>Komunikacja</span></a></li>
                    <li><a href="przyszlosc.html" ><span>Przyszłość</span></a></li>
                    <li><a href="logowanie.html" ><span>Wyloguj</span></a></li>
                </ul>
            </div>
        </nav>
        <!-- </div> -->
    </div>
</header>
<div class="col-md-12 container" style="margin-top: 20%;">
    <h1 style="color: #fff;">Web Development i MEAN Stack</h1>
    <p style="color: rgba(255, 255, 255, 0.8);"> Javascript mimo że jest językiem umierającym, ciągle jest w stanie zapewnić Ci bardzo sprawnie działający serwis internetowy. MEAN jest dobry na początek. Rozwinięcie to MongoDB (Baza Danych), ExpressJS (web application framework), AngularJS(extend HTML), oraz NodeJS (silnik js)</p>
    <div class="col-md-12">
        <div class="col-md-3 pull-left" style="margin-top:5%;">
            <ul id="nie" style="clear:both">
                <li id="niewiem">
                    <img style="border-radius: 20%" style="border-radius: 20%" src="../static/images/news/mongo.png" />
                    <a href="https://www.edx.org/course/introduction-mongodb-using-mean-stack-mongodbx-m101x"><h3 id="niewiemwiem">Naszym zdaniem najlepszy pełny kurs z MongoDB na edX</h3></a>
                </li>

                <li id="niewiem">
                    <img style="border-radius: 20%" style="border-radius: 20%" src="../static/images/news/expressjs.jpg" />
                    <a href="http://nodeschool.io/#workshoppers"><h3 id="niewiemwiem">Naszym zdaniem najlepszy interaktywne kurs z expressJS wykonany przez MIT</h3></a>
                </li>

                <li id="niewiem">
                    <img style="border-radius: 20%" style="border-radius: 20%" src="../static/images/news/angular.png" />
                    <a href="https://egghead.io/technologies/angularjs"><h3 id="niewiemwiem">Zdecydowanie najlepsze wprowadzenie do AngularJS na egghead.io</h3></a>
                </li>

                <li id="niewiem">
                    <img style="border-radius: 20%" style="border-radius: 20%" src="../static/images/news/node.png" />
                    <a href="http://nodeschool.io/#workshoppers"><h3 id="niewiemwiem">I znowu interaktywne MIT, tym razem czysty Node</h3></a>
                </li>
            </ul>
        </div>
        </div>

</div>


<div class="col-md-12 container" style="margin-top: 10%;">
    <h1 style="color: #fff;">Android Development z Java</h1>
    <p style="color: rgba(255, 255, 255, 0.8);"> Z góry ostrzegamy, że łatwo nie jest :)</p>
    <p></p>
    <div class="col-md-12">
        <div class="col-md-3 pull-left" style="margin-top:5%;">
            <ul id="nie" style="clear:both">
                <li id="niewiem">
                    <img style="border-radius: 20%" src="../static/images/news/android.png" />
                    <a href="http://developer.android.com/guide/components/fundamentals.html"><h3 id="niewiemwiem">Jak działa android</h3></a>
                </li>

                <li id="niewiem">
                    <img style="border-radius: 20%" src="../static/images/news/java.jpg" />
                    <a href="http://courses.caveofprogramming.com/courses/java-for-complete-beginners"><h3 id="niewiemwiem">Podstawy Java</h3></a>
                </li>

                <li id="niewiem">
                    <img style="border-radius: 20%" src="../static/images/news/androidauthority.jpg" />
                    <a href="https://www.quora.com/How-do-I-get-started-with-Android-application-development"><h3 id="niewiemwiem">Android development step-by-step, od designu, przez programowanie, po sprzedaż</h3></a>
                </li>

                <li id="niewiem">
                    <img style="border-radius: 20%" src="../static/images/news/programming.png" />
                    <a href="https://www.udemy.com/learn-android-programming-from-scratch-beta/"><h3 id="niewiemwiem">Polecamy osobom bez uprzedniej stycznosći z jakimkolwiek programowaniem</h3></a>
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="col-md-12 container" style="margin-top: 10%;">
    <h1 style="color: #fff;">iOS Development z Swift</h1>
    <p style="color: rgba(255, 255, 255, 0.8);"> Tu juz łatwiej</p>
    <p></p>
    <div class="col-md-12">
        <div class="col-md-3 pull-left" style="margin-top:5%;">
            <ul id="nie" style="clear:both">
                <li id="niewiem">
                    <img style="border-radius: 20%" src="../static/images/news/swift.png" />
                    <a href="https://www.raywenderlich.com/115253/swift-2-tutorial-a-quick-start"><h3 id="niewiemwiem">Najlepsze co można znaleźć oprócz dokumentacji</h3></a>
                </li>

                <li id="niewiem">
                    <img style="border-radius: 20%" src="../static/images/news/apple.jpg" />
                    <a href="https://developer.apple.com/library/ios/documentation/Swift/Conceptual/Swift_Programming_Language/"><h3 id="niewiemwiem">Rzeczona dokumentacja</h3></a>
                </li>

                <li id="niewiem">
                    <img style="border-radius: 20%" src="../static/images/news/online.png" />
                    <a href="http://swiftstub.com/"><h3 id="niewiemwiem">Kompilator języka online</h3></a>
                </li>

                <li id="niewiem">
                    <img style="border-radius: 20%" src="../static/images/news/visual.jpg" />
                    <a href="http://www.elementscompiler.com/elements/silver/"><h3 id="niewiemwiem">Wtyczka do VisualStudio umożliwiająca programowanie na Windowsie i Linuxie</h3></a>
                </li>
            </ul>
        </div>
    </div>

</div>







<!-- jQuery -->
<script src="../static/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="../static/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="../static/js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->

<!-- Counter -->
<script src="../static/js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<script src="../static/js/magnific-popup-options.js"></script>



<!-- Main JS  -->
<script src="../static/js/main.js"></script>

</body>
</html>
