<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Opis modułów</title>
    <link rel="icon" type="image/png" href="../static/images/tfa.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The Feynman Association Official Website" />
    <meta name="keywords" content="edukacja, projekt, biznes, nauka, mlody, konkurs, przyszlosc, studia, the feynman association" />
    <meta name="author" content="Pawel Grabowski" />



    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="The Feynman Association"/>
    <meta property="og:image" content="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/12814784_1062862433764865_4486092063895316971_n.jpg?oh=15e9c2cf1adb6b454893fe3d5141fb6f&oe=579331FF"/>
    <meta property="og:url" content="http://thefeynmanassociation.pl"/>
    <meta property="og:site_name" content="The Feynman Association"/>
    <meta property="og:description" content="Come and see"/>
    <meta name="twitter:title" content="The Feynman Association" />
    <meta name="twitter:image" content="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/12814784_1062862433764865_4486092063895316971_n.jpg?oh=15e9c2cf1adb6b454893fe3d5141fb6f&oe=579331FF" />
    <meta name="twitter:url" content="http://thefeynmanassociation.pl" />
    <meta name="twitter:card" content="" />

    <link rel="shortcut icon" href="../static/favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="../static/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="../static/css/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="../static/css/simple-line-icons.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">


    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Styleswitcher ( This style is for demo purposes only, you may delete this anytime. ) -->
    <link rel="stylesheet" id="theme-switch" href="../static/css/style.css">
    <!-- End demo purposes only -->

</head>
<body style="    background-image: repeating-linear-gradient(to bottom right, #000469 0%, #00A9FB 100%);background-repeat: no-repeat;
    background-attachment: fixed;">
<div style="margin-bottom:5em"class="col-md-2 col-xs-4 col-xs-offset-4 col-md-offset-5"><a href="after.html"> <img src="../static/images/ostatecznebeztla2.png" class="img-responsive" style="max-width:100%; "></a></div>
<section data-section="services" style="clear:both; "
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-calendar"></i>
                <h3 style="    color: white;">Kalendarium</h3>
                <p style="    color: rgba(255, 255, 255, 0.7);">Jak sama nazwa wskazuje rozpiska wszystkich konferencji, szkoleń, konkursów, wykładów, hackathonów, startupweekendów i ważnych wydarzeń.</p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-people"></i>
                <h3 style="    color: white;">Teaming</h3>
                <p style="    color: rgba(255, 255, 255, 0.7);">Narzędzie służace do zbierania zespołów. Zarówno ty możesz wystawić się jako freelancer, uprzednio deklarując co umiesz, jak i zespół deklarując kogo szuka</p>
            </div>

            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-asterisk"></i>
                <h3 style="    color: white;">Inicjatywy</h3>
                <p style="    color: rgba(255, 255, 255, 0.7);">Polecane przez nas przedsięwzięcia, warte uwagi materiały i programy czy platformy</p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-dollar"></i>
                <h3 style="    color: white;">Inkubator</h3>
                <p style="    color: rgba(255, 255, 255, 0.7);">Szczegółowa oferta i kontakt do największych sieci polskich Inkubatorów i akceleratorów tj. organizacji, które pomogą Ci rozwinąć własną firmę</p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-bell"></i>
                <h3 style="    color: white;">Szanse</h3>
                <p style="    color: rgba(255, 255, 255, 0.7);">Przyuważone przez nas możliwości rozwoju dla Ciebie</p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-cloud-upload"></i>
                <h3 style="    color: white;">Środki</h3>
                <p style="    color: rgba(255, 255, 255, 0.7);">Poradniki jak, skąd i gdzie zdobywać finansowanie</p>
            </div>

            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-mail-reply"></i>
                <h3 style="    color: white;">Ludzie</h3>
                <p style="    color: rgba(255, 255, 255, 0.7);">Kontakt do organizacji które mogą Ci pomóc, udzielić wsparcia w naprawdę zróżnicowanej formie</p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-paper"></i>
                <h3 style="    color: white;">Crowdfunding</h3>
                <p style="    color: rgba(255, 255, 255, 0.7);">Na naszym portalu crowdfundingowym będziesz mógł wystawić swój projekt, gdy otrzyma on wystarczająco dużo głosów za i wyjdzie na pierwsze miejsce w rankingu będziesz łatwo zauważalny dla ewentualnych inwestorów</p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-hacker-news"></i>
                <h3 style="    color: white;">Projekty Uniwersyteckie</h3>
                <p style="    color: rgba(255, 255, 255, 0.7);">Tu znajdą się wszystkie informacje o otwartych poważnych projektach naukowych do których możesz dołączyć</p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-safari"></i>
                <h3 style="    color: white;">Wykłady</h3>
                <p style="    color: rgba(255, 255, 255, 0.7);">Poprostu baza ciekawych i interesujących wykładów i platform e learningowych je oferujących :)</p>
            </div>

            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-dollar"></i>
                <h3 style="    color: white;">Deadline</h3>
                <p style="    color: rgba(255, 255, 255, 0.7);">Już nigdy się nie spóźnisz ze zgłoszeniem</p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-dollar"></i>
                <h3 style="    color: white;">Staże</h3>
                <p style="    color: rgba(255, 255, 255, 0.7);">Informacje dotyczące dostępnych staży naukowo biznesowych i tego jak je zdobyć</p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-dollar"></i>
                <h3 style="    color: white;">Za granice</h3>
                <p style="    color: rgba(255, 255, 255, 0.7);">Informacje dotyczące studiów i programów akceleracyjnych lub naukowych za granicą, oraz sposobów ich finansowania</p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-institution"></i>
                <h3 style="    color: white;">Kursy</h3>
                <p style="    color: rgba(255, 255, 255, 0.7);">Zebrane w jednym miejscu kursy dotyczące programowania aplikacji mobilnych, webowych, czy zwykłych stron internetowych</p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-bookmark"></i>
                <h3 style="    color: white;">Materiały</h3>
                <p style="    color: rgba(255, 255, 255, 0.7);">Zbiór znalezionych przez nas ciekawych stron, ksążek, filmów, czy artykułów powiązanych z tematem</p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-certificate"></i>
                <h3 style="    color: white;">Artykuły</h3>
                <p style="    color: rgba(255, 255, 255, 0.7);">Swoisty must know z każdej dziedziny, oraz porady osób z branży.</p>
            </div>


            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-newspaper-o"></i>
                <h3 style="    color: white;">Aktualności</h3>
                <p style="    color: rgba(255, 255, 255, 0.7);">Dokładnie trzydzieści najświeższych istotnych informacji dotyczących modułu w którym się aktualnie znajdujesz</p>
            </div>


        </div>

</section>




<!-- jQuery -->
<script src="../static/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="../static/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="../static/js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->

<!-- Counter -->
<script src="../static/js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<script src="../static/js/magnific-popup-options.js"></script>



<!-- Main JS  -->
<script src="../static/js/main.js"></script>

</body>
</html>
